* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(24, 77, 250);
}

.navigation {
    display: flex;
    flex-direction: row;
    height: 65px;
    justify-content: center;
}

.navigation-choice {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    justify-content: space-evenly;
}

.nav-links {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.nav-links__text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(152, 188, 255);
    transition: 0.5s;
    display: flex;
}

.nav-links__text:hover {
    color: rgb(255, 255, 255);
}

.logo {
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.logo:hover {
    width: 94px;
    height: 42px;
    right: 5px;
    transition: 0.2s;
}

.read {
    text-decoration: none;
    color: rgb(62, 130, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
}

.read:hover {
    color: rgb(98, 152, 253);
    transition: 0.5s;
}

.other-currencies {
    text-decoration: none;
    color: rgb(62, 130, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
}

.other-currencies:hover {
    color: rgb(98, 152, 253);
    transform: translate(10px, 0px);
    transition: 0.5s;
}

#pointing {
    text-decoration: none;
    color: rgb(62, 130, 255);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
    position: relative;
    left: 7px;
} 

.main-info {
    width: 100%;
    height: 700px;
    justify-content: space-evenly;
    background-color: rgb(118, 189, 255);
}

.news-photo-1 {
    width: 250px;
    height: 120px;
    background-color: aqua;
}

.news-photo-2 {
    width: 250px;
    height: 120px;
    background-color: aqua;
}

.news-photo-3 {
    width: 250px;
    height: 120px;
    background-color: aqua;
}

.news-text__desc-1 {
    width: 250px;
    height: 120px;
    margin-left: 5px;
    margin-right: 5px;
}

.news-text__desc-2 {
    width: 200px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.news-text__desc-3 {
    width: 200px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

#read-right {
    margin-left: 5px;
    margin-right: 5px;
}

.currency-symbol {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.main__right-block {
    width: 500px;
    height: 500px;
}